// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Open+Sans:wght@300..800&display=swap");

@font-face {
  font-family: "DIN Alternate";
  src: url("../fonts/DINAlternate.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DIN Alternate";
  src: url("../fonts/DINAlternateBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Open Sans", serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

// colors
$white: #fff;
$black: #000;

$text-primary: $white;
$text-secondary: #b7b7b7;
$text-light: #eaeaea;

$bg-dark: #0f0f0f;
$bg-primary: #1d1d1d;
$bg-secondary: #cc9601;
$bg-light: #3c3c3c;

$border-primary: #3c3c3c;

// utils
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.btn-primary {
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  color: $text-primary;
  background-color: $bg-secondary;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 0.75rem;
  text-align: center;
  width: 100%;
  max-width: 240px;
  cursor: pointer;
}

section {
  padding: 5rem 0;

  .title {
    font-family: "DIN Alternate", serif;
    color: $text-primary;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
  }

  .caption {
    font-size: 20px;
    line-height: 30px;
    color: $text-secondary;
  }
}

.form-field {
  flex: 1;
}

.form-label {
  display: block;
  color: $text-secondary;
  line-height: 28px;
}

.form-input {
  background-color: $bg-light;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: $text-primary;
  width: 100%;

  &:not(textarea) {
    height: 46px;
  }
}

.form-error {
  font-size: 14px;
  line-height: 28px;
  color: #d90429;
}
