@use "./base" as _;

body {
  background-color: _.$black;
}

// contact section
.contact-section {
  @media (max-width: 768px) {
    padding-bottom: 0;
  }

  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
  }

  .header {
    margin-bottom: 3.5rem;

    @media (max-width: 768px) {
      padding: 0 2.5rem;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    form {
      @media (max-width: 768px) {
        padding: 0 2.5rem;
      }

      .form-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .name-row {
          display: flex;
          gap: 2rem;

          @media (max-width: 768px) {
            flex-direction: column;
            gap: 1rem;
          }
        }
      }

      textarea {
        height: 6rem;
      }

      .checkbox-field {
        margin-top: 1.25rem;
        display: flex;
        gap: 1rem;

        .form-label {
          a {
            color: _.$text-primary;
          }
        }

        input[type="checkbox"] {
          display: none;

          & + label:before {
            content: "\2714";
            border: 1px solid _.$white;
            border-radius: 0;
            display: inline-block;
            width: 20px;
            height: 20px;
            padding-left: 0.2em;
            margin-right: 0.75rem;
            vertical-align: middle;
            color: transparent;
            line-height: 1;
            transition: 0.3s;
          }

          & + label:active:before {
            transform: scale(0);
          }

          &:checked + label:before {
            background-color: _.$bg-secondary;
            border-color: _.$bg-secondary;
            color: _.$white;
          }
        }
      }

      .button-section {
        display: flex;
        margin-top: 2rem;

        button {
          margin-left: auto;
        }
      }
    }

    .map {
      width: 60%;
      aspect-ratio: 3/2;

      @media (max-width: 1024px) {
        width: 100%;
        aspect-ratio: 4/3;
      }

      @media (max-width: 768px) {
        aspect-ratio: 5/7;
      }

      iframe {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}

// footer
.footer {
  background-color: _.$bg-primary;

  &-top {
    padding: 1.8rem 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;
    border-bottom: 1px solid _.$border-primary;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    address {
      color: _.$text-primary;

      strong {
        font-weight: 700;
      }
    }

    .socials {
      display: flex;
      align-items: start;
      gap: 2.5rem;
      color: _.$text-primary;

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          height: 22px;
          width: auto;
        }
      }
    }
  }

  &-bottom {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }

    span {
      color: _.$text-secondary;
      font-size: 14px;

      a {
        color: _.$text-secondary;
      }
    }
  }
}
